/* ## After Header Navigation
--------------------------------------------- */

.nav-primary {
	background-color: #fff;
}

.menu-primary {
    border-top: 1px solid #f7f8f7;
    border-bottom: 1px solid #f7f8f7;
}